<!DOCTYPE html>
<html ng-app="myApp">
<head>
<title>Student Exam Registration</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-controller="examCtrl">
<h2>Student Exam Registration Form</h2>
<form name="examForm">
Student Name:
<input type="text" ng-model="student.name" required>
<br><br>
Roll No:
<input type="number" ng-model="student.roll" required>
<br><br>
Subject:
<select ng-model="student.subject" required>
<option value="">Select</option>
<option>Maths</option>
<option>Physics</option>
<option>Chemistry</option>
</select>
<br><br>
<button ng-click="submit()">Submit</button>
</form>
<p>{{message}}</p>
<script>
var app = angular.module("myApp", []);
app.controller("examCtrl", function ($scope) {
$scope.submit = function () {
if ($scope.examForm.$valid) {
$scope.message = "Exam Registration Successful";
} else {
$scope.message = "Please fill all details";
}
};
});
</script>
</body>
</html>